%h1 All Yog Asanas
= form_tag asanas_path, :method => :get do
	= text_field_tag :search, params[:search]
	= submit_tag "Search"
-@asans.each do |asan|
	.row.panel
		.col
			%h3 
			= link_to asan.name, asana_path(asan)
			%br
			%br
			= image_tag asan.image
		.col	
			=	asan.description
		%br	
		%br