%h1 
	= best_in_place @asan, :name
%p
	= image_tag(@asan.image)
%p
	= best_in_place @asan, :description, as: :textarea
%p
-if current_user.admin? 
	= link_to "Edit", edit_asana_path(@asan) 
	|
	= link_to "Delete", asana_path(@asan), method: :delete