!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title YogaApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navbar'
    %center  
      .content
        .container
        -flash_messages
        .search_form{align: 'right'}
          =render 'layouts/search' unless controller_name.eql?('sessions') || controller_name.eql?('registrations')
        = yield
        %br
        %br

